* {
    box-sizing: border-box;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka.ttf');
    font-weight:normal;
    font-style: normal;
}

.dark-theme {
    --background: #282a36;
    --background-0: #3d4051;
    --current: #44475a;
    --selection: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

.light-theme {

}

body {
    font-family:'Iosevka';
    background-color: var(--background);
}

img#avatar {
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    height: 150px;
}

.content {
    font-size: 120%;
    margin: auto;
    width: min(400px, 100%);
    padding: 0 16px;
}

.centered {
    text-align: center;
}

.justyfied {
    text-align: justify;
}

.text {
    color: var(--foreground);
}

h1 {
    font-weight: bold;
    color: var(--cyan);
}

q {
    color: var(--comment);
    font-style: italic;
    font-weight: bolder;
}

b {
    color: var(--orange);
}

a {
    color: var(--purple);
    font-style: normal;
}

.highlited {
    color: var(--yellow);
}

#contacts {
    display: flex;
    flex-direction: row;

    align-items: flex-center;
    justify-content: space-between;
}

address {
    display: flex;
    flex-direction: column;
}


@media (max-width: 319.98px) {
    #contacts {
        flex-direction: column;
        gap: 20px;
    }
}

.spacer {
    width: 100%;
    height: 1px;
    background-color: var(--background-03);

    margin: 20px 0px;
}